/* Font */
@font-face {
  font-family: PixelFont;
  src: url(./pixeltimes.ttf);
}

/* Keyframes and Animations */
@keyframes neonGlow {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

::selection {
  background: var(--fore-color);
  color: var(--back-color);
}

:root {
  --back-color: black;
  --back-color-transparent: rgba(0, 0, 0, 0.5);
  --fore-color: rgb(195, 0, 255);
  --fore-color-1: rgb(255, 119, 244);
  --fore-color-2: rgb(202, 124, 255);
  --fore-color-3: rgb(92, 233, 255);
  --fore-color-4: rgb(255, 114, 92);
  --font-color: rgb(220, 180, 252);
  --font-color-1: rgb(131, 181, 233);
  --bloom-filter: drop-shadow(0 0 5px var(--fore-color));
  --back-color-fore-1: rgba(195, 0, 255, 0.3);
  --back-color-fore-2: rgb(61, 0, 80);
  --back-color-fore-3: rgb(113, 0, 148);
  --back-color-fore-4: rgb(0, 44, 88);
  --font-color-2: rgb(55, 22, 17);
}

/* Body Styles */
body {
  background-color: var(--back-color);
  background-position: center;
  background-attachment: fixed;
  background-size: 200vh;
  color: var(--fore-color-2);
  font-family: "PixelFont";
  font-size: 25px;
  line-height: 1.5;
  padding: 2vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Header Styles */
h1,
h2 {
  text-align: center;
  color: var(--fore-color-3);
}

/* Link Styles */
a.team-link,
a.team-link:active,
a.team-link:visited {
  color: var(--fore-color-1);
  text-align: center;
  display: block;
  border: solid;
  padding: 5px;
  margin: 5px;
  text-decoration: none;
}

a.member-link,
a.member-link:active,
a.member-link:visited {
  background-image: linear-gradient(
    90deg,
    var(--fore-color-1),
    var(--fore-color-3),
    var(--fore-color-4)
  );
  background-size: 400% 2%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: neonGlow 2s linear infinite;
}

/* Flex Container Styles */
.horizontal-align {
  display: flex;
}

/* List Styles */
ul {
  list-style-type: none;
  padding: 20px;
}

li {
  background-color: var(--back-color-transparent);
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
}

/* Strong Styles */
strong {
  font-size: 1.2em;
  margin-right: 20px;
}

/* Paragraph Styles */
p {
  margin: 5px 0;
  color: var(--fore-color);
}

/* Results List Styles */
.results-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
  padding: 0;
}

.results-list li {
  display: flex;
  justify-content: space-between;
  background-color: var(--back-color-transparent);
  padding: 10px;
  border-radius: 5px;
}

/* Canvas Styles */
canvas {
  position: absolute;
  z-index: -100;
  overflow: hidden;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: rgba(0, 0, 0, 0.6);
}

#scoreboard-div {
  width: auto;
  height: 50vh;
  overflow: auto;
  border: 1px solid var(--back-color-fore-1);
  border-radius: 10px;
}

tbody {
  white-space: nowrap;
}

th,
td {
  word-wrap: break-word;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  border: 1px solid var(--back-color-fore-1);
}

thead th {
  position: sticky;
  top: 0;
  background-color: var(--back-color-fore-2);
  color: var(--fore-color-1);
}

@keyframes neonGlow {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.text-glow {
  background-image: linear-gradient(
    90deg,
    var(--fore-color-1),
    var(--fore-color-3),
    var(--fore-color-4)
  );
  background-size: 400% 2%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: neonGlow 2s linear infinite;
}

.text-golden {
  background-image: linear-gradient(45deg, #fff3ad, #e5ac00, #fff3ad);
  background-size: 20% 2%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 50px;
}

.text-silver {
  background-image: linear-gradient(45deg, #eeeeee, #8b8b8b, #eeeeee);
  background-size: 20% 2%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 40px;
}

.text-bronze {
  background-image: linear-gradient(45deg, #eac49f, #bd6526, #eac49f);
  background-size: 20% 2%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 30px;
}

::-webkit-scrollbar {
  display: none;
}

a.info {
  font-size: 15px;
}
