/* Font */
@font-face {
  font-family: PixelFont;
  src: url(./pixeltimes.ttf);
}

/* Keyframes and Animations */
@keyframes neonGlow {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

/* Color Variables */
:root {
  --back-color: black;
  --back-color-transparent: rgba(0, 0, 0, 0.5);
  --fore-color: rgb(195, 0, 255);
  --fore-color-1: rgb(255, 119, 244);
  --fore-color-2: rgb(202, 124, 255);
  --fore-color-3: rgb(92, 233, 255);
  --fore-color-4: rgb(255, 209, 92);
  --bloom-filter: drop-shadow(0 0 5px var(--fore-color));
}

/* Body Styles */
body {
  background-color: var(--back-color);
  background-position: center;
  background-attachment: fixed;
  background-size: 200vh;
  color: var(--fore-color-2);
  font-family: "PixelFont";
  font-size: 25px;
  line-height: 1.5;
  padding: 2vw;
  margin: 0;
  filter: var(--bloom-filter);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Header Styles */
h1,
h2 {
  text-align: center;
  color: var(--fore-color-3);
}

/* Link Styles */
a.team-link,
a.team-link:active,
a.team-link:visited {
  color: var(--fore-color-1);
  text-align: center;
  display: block;
  border: solid;
  padding: 5px;
  margin: 5px;
  text-decoration: none;
}

a.member-link,
a.member-link:active,
a.member-link:visited {
  background-image: linear-gradient(
    90deg,
    var(--fore-color-1),
    var(--fore-color-3),
    var(--fore-color-4)
  );
  background-size: 400% 2%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: neonGlow 2s linear infinite;
}

/* Flex Container Styles */
.horizontal-align {
  display: flex;
}

/* List Styles */
ul {
  list-style-type: none;
  padding: 20px;
}

li {
  background-color: var(--back-color-transparent);
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
}

/* Strong Styles */
strong {
  font-size: 1.2em;
  margin-right: 20px;
}

/* Paragraph Styles */
p {
  margin: 5px 0;
  color: var(--fore-color);
}

/* Results List Styles */
.results-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
  padding: 0;
}

.results-list li {
  display: flex;
  justify-content: space-between;
  background-color: var(--back-color-transparent);
  padding: 10px;
  border-radius: 5px;
}

/* Canvas Styles */
canvas {
  position: absolute;
  z-index: -100;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
}

#scoreboard-container {
  max-height: 400px;
  overflow: auto;
}

tbody {
  white-space: nowrap;
}

th,
td {
  padding: 5px;
  text-align: center;
  border: 1px solid var(--fore-color-1);
}
